
.cardPerson-container2 {
    width: 400px;
    height: 600px;
   background-color: rgb(233, 236, 240);
   border: solid 1px rgb(253, 235, 235);
   margin-bottom: 10px;
   justify-content: center;
   align-items: center;
   align-items: center;
   display: flex;

}