
//fonts

$font-family: 'Bubblegum Sans', cursive;


//colors
$colorbackground:  linear-gradient(-225deg, #f3f8fd 0%, #c6fab9 52%, #015025 100%);


$colorbutton:   rgb(18, 236, 243);


$colorcards: rgb(226, 233, 125);